<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userService" class="com.olive.spirngframwork.bean.UserService13"/>

    <bean class="com.olive.springframwork.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>

    <bean id="beforeAdvice" class="com.olive.spirngframwork.bean.UserServiceBeforeAdvice"/>

    <bean id="methodInterceptor" class="com.olive.springframwork.aop.framework.adapter.MethodBeforeAdviceInterceptor">
        <property name="advice" ref="beforeAdvice"/>
    </bean>

    <bean id="pointcutAdvisor" class="com.olive.springframwork.aop.aspectj.AspectJExpressionPointcutAdvisor">
        <property name="expression" value="execution(* com.olive.spirngframwork.bean.IUserService.*(..))"/>
        <property name="advice" ref="methodInterceptor"/>
    </bean>
</beans>