<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	         http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="husband" class="com.olive.spirngframwork.bean.Husband">
        <property name="wifiName" value="哦豁"/>
        <property name="marriageDate" value="2022-10-08"/>
    </bean>

    <bean id="conversionService" class="com.olive.springframwork.context.support.ConversionServiceFactoryBean">
        <property name="converters" ref="converters"/>
    </bean>

    <bean id="converters" class="com.olive.spirngframwork.converter.ConvertersFactoryBean"/>

</beans>